html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
a{
    color: aquamarine;
} 
body{
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
    border-radius: 8px;
}
h2{
    font-size: 45px;
}
h1{
    font-size: 100px;
    line-height: 1;
}
h1, h2{
    font-family: 'Poppins', bold;
    font-weight: 400;
    margin: 0;
}
.content-wrapper{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;

}
header{
    background: #02042b;
    color: #F7FFF7;
   
}
.divider > section{
    border-bottom: 0.5px dashed #f7fff7;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* Projects*/

.projects{
    background: #2b84ea;
    background-color: rgba(43, 132, 234, 0.2);
    border-radius: 12px;
    padding: 30px;
}
.projects a{
        color: aquamarine;
}
.projects .btn{
    color: #F7FFF7;
    background: #2b84ea;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a:hover{
    background: rgba(90, 189, 154, 80%);
}
.project-items{
    overflow: hidden;
 
}


.project-items h3{
    margin-top: 0;
}
/* work experience*/
.work-experience{
    background: #2b84ea;
    background-color: rgba(43, 132, 234, 0.2);
    border-radius: 12px;
    padding: 30px;
}
/*Education*/
.education{
    background: #2b84ea;
    background-color: rgba(43, 132, 234, 0.2);
    border-radius: 12px;
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education p{
    width: 60%;
}
/*Footer*/
footer{
    background: #041436;
    color: #F7FFF7;
    
}
.contact-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a{
    padding: 15px;
    display: inline-block;
}
/*Menu*/
.navbar {

    
    background-color: #7fffd4; /* Background color of the navbar */
    overflow: hidden; /* Hide content that overflows the navbar */
    
}

.navbar a {
    float: right; 
    display: block; 
    color: #041436;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #2b84ea;
    color: black; 
}