@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply the animation to the circle */
#circle {
    animation: scaleAnimation 3s infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #animated-rect {
    animation: rotate 3s linear infinite;
  }

  @keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Apply the flash animation to the SVG element */
#flashing-svg {
    animation: flash 1s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Apply the move animation to the SVG element */
#moving-svg {
    animation: move 4s infinite;
}

@keyframes rotate {
    0% {
        transform-origin: center;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

/* Apply the rotate animation to the SVG element */
#rotating-svg {
    animation: rotate 4s infinite linear;
}