@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply the animation to the circle */
#circle {
    animation: scaleAnimation 3s infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #animated-rect {
    animation: rotate 3s linear infinite;
  }